@{
    ViewData["Title"] = "Home Page";
}

<section class="text-center">
    <h1 class="display-4">Welcome To Pizza World!</h1>
    
    <p>
        <h5>Are you a user or a store?</h5>
    </p>

    <a asp-controller="user" asp-action="home" class="btn btn-primary">User</a>
    <a asp-controller="store" asp-action="home" class="btn btn-secondary">Store</a>
</section>