@{
    ViewData["Title"] = "Home Page";
}

<section class="text-center">
    <h1 class="display-4">Welcome To Pizza World!</h1>
    
    <p>
        Are you a user or a store?
    </p>

    <a asp-controller="user" asp-action="home" class="btn btn-primary">User</a>
    <a asp-controller="store" asp-action="home" class="btn btn-secondary">Store</a>
</section>

@* <p>
    <a asp-controller="order" asp-action="home">Order a pizza</a>
</p> *@
